<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <title>Studied Course University</title>
    <script src = "index.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">STOREBRAND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- list all the item in their drop box -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brand Name</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="https://www.adidas.com/us">Adidas</a>
            <a class="dropdown-item" href="#">Apple</a>
            <a class="dropdown-item" href="#">American Express</a>
            <a class="dropdown-item" href="#">Zara</a>
            <a class="dropdown-item" href="#">Chanel</a>
            <a class="dropdown-item" href="#">Afani</a>
            <a class="dropdown-item" href="#">Bose</a>
            <a class="dropdown-item" href="#">Coach</a>
            <a class="dropdown-item" href="#">Banana Republic</a>
            <a class="dropdown-item" href="#">David Bridal</a>
            <a class="dropdown-item" href="#">Canon</a>
            <a class="dropdown-item" href="#">Sony</a>
            <a class="dropdown-item" href="#">Samsung</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Women</a>
            <a class="dropdown-item" href="#">Men</a>
            <a class="dropdown-item" href="#">Kids</a>
            <a class="dropdown-item" href="#">Beauty</a>
            <a class="dropdown-item" href="#">Perfume</a>
            <a class="dropdown-item" href="#">Hardware</a>
            <a class="dropdown-item" href="#">Tools</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-auto" type="text" placeholder="Search Items" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
